.container{
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.main-header{
    min-height: 700px;
    padding-top: 36px;
    margin-bottom: 115px;
    background-image: url("../img/bg_header.jpg");
    background-size: 100%;
    background-color: #3f3d3d;

    /*border: 1px solid red;*/
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    /*border: 1px solid red;*/
}

.menu-list{
    padding: 0;
    margin: 0;
    margin-top: 14px;
    list-style: none;
}

.menu-item{
    display: inline-block;
    margin-left: 37px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.menu-item a{
    text-decoration: none;
    color: #ffffff;
}

.menu-item a:hover{
    color: #fed136;
}

.welcome{
    margin-bottom: 40px;
    font-family: "PT Sans", sans-serif;
    font-style: italic;
    font-size: 40px;
    color: #ffffff;
    text-align: center;

    /*border: 1px solid red;*/
}

.welikeyou{
    
    
    margin: 0 auto;
    margin-bottom: 47px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

    /*border: 1px solid red;*/
}

.more{
    display: block;
    width: 240px;
    height: 65px;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 63px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-color: #fed136;
    border-radius: 3px;

    /*border: 1px solid red;*/
}

.title{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;

    /*border: 1px solid red;*/
}

.description{
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #777777;

    /*border: 1px solid red;*/
}

.services-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;

    /*border: 1px solid red;*/
}

.services-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 290px;

    /*border: 1px solid red;*/
}

.services-item h3{
    order: 1;
    margin: 0;
    margin-bottom: 18px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}

.services-item p{
    order: 2;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    text-align: center;

    color: #777777;
}

.services-item img{
    margin: 0;
    margin-bottom: 25px;
    order: 0;
}

.portfolio{
    /*margin-bottom: 120px;*/
    padding-top: 120px;
    background-color: #f7f7f7;
}

.portfolio-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;

    /*border: 1px solid red;*/
}

.portfolio-item{
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    width: 290px;
    min-height: 393px;
    text-align: center;
    background-color: #ffffff;

    /*border: 1px solid red;*/
}

.portfolio-img{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.portfolio-name{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    line-height: 21px;
    letter-spacing: -1px;
}

.portfolio-type{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px; 
    font-style: italic;
    color: #737373;
}

.aboutus{
    padding-top: 120px;
}

.aboutus-list{
    display: flex;
    flex-direction: column;
    align-items: center;

    /*border: 1px solid red;*/
}

.aboutus-item{
    display: flex;
    justify-content: center;
    margin-bottom: 93px;
    position: relative;
    
    /*border: 1px solid red;*/
}

.aboutus-img{
    order: 2;
    flex-basis: 183px;
    
    margin: 0 40px;
}

.aboutus-item::after{
    position: absolute;
    content: "";
    bottom: -93px;
    width: 0;
    height: 91px;

    border: 1px solid #f1f1f1;
}

.aboutus-decription,
.empty{
    flex-basis: 325px;
}

.aboutus-decription{
    order: 1;
    
    text-align: right;

    /*border: 1px solid red;*/
}

.aboutus-title{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #222222;
}

.date{
    text-transform: uppercase;
}

.aboutus-text{
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    line-height: 20px;
    color: #777777;
}

.empty{
    order: 3;
    
    /*border: 1px solid red;*/
}

.aboutus-item:nth-child(2n) .aboutus-decription{
    order: 3;
    text-align: left;
}

.aboutus-item:nth-child(2n) .empty{
    order: 1;
}

.aboutus-more{
    margin-bottom: 120px;
}

.our-team{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f9f9f9;
}

.team-list{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.team-item{
    width: 281px;
    text-align: center;

    /*border: 1px solid red;*/
}

.team-name{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #343336;
}

.team-prof{
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    color: #777777;
}

.team-social-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.team-social-item{
    display: inline-block;

    /*border: 1px solid red;*/
}

.social-icon{
    display: block;
    width: 41px;
    height: 41px;
    font-size: 0;

    /*border: 1px solid red;*/
}

.social-tw{
    background-image: url("../img/icon_twitter.png");
}

.social-tw:hover{
    background-image: url("../img/icon_twitter_hover.png");
}

.social-fb{
    background-image: url("../img/icon_facebook.png");
}

.social-fb:hover{
    background-image: url("../img/icon_facebook_hover.png");
}

.social-pi{
    background-image: url("../img/icon_pinterest.png");
}

.social-pi:hover{
    background-image: url("../img/icon_pinterest_hover.png");
}

.social-go{
    background-image: url("../img/icon_google.png");
}

.social-go:hover{
    background-image: url("../img/icon_google_hover.png");
}

.team-simple-text{
    margin: 0;
    padding: 0;
    /*margin-bottom: 120px;*/
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    color: #777777;
    text-align: center;

    /*border: 1px solid red;*/
}

.partners{
    /*text-align: center;*/
    
    /*border: 1px solid red;*/
}

.partners-list{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    margin: 60px 0;

    /*border: 1px solid red;*/
}

.partners-item{
    display: inline-block;
}

.partner{
    padding: 0;
    margin: 0 20px;
    text-decoration: none;

    /*border: 1px solid red;*/
}

/*
.envato{
    background-image: url("../img/logo_envato.png");
}
*/

.writetous{
    padding-top: 120px;
    padding-bottom: 115px;
    background-image: url("../img/bg_writetous.jpg");
    background-size: 100%;
    background-color: #3f3d3d;
}

.writetous .title{
    color: #ffffff;
}

.form-message{
    text-align: center;
    
    /*border: 1px solid red;*/
}

.fields{
    display: flex;
    justify-content: space-between;
}

.yourcontact{
    width: 455px;
}

.yourcontact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message{
    width: 405px;
    height: 190px;
    padding: 20px;
    resize: none;
}

.field{
    padding: 20px;
    margin-bottom: 30px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 3px;
}

.form-message input::-webkit-input-placeholder,
.form-message textarea::-webkit-input-placeholder{
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #bbbbbb;
    text-transform: uppercase;
}

.btn{
    display: block;
    width: 240px;
    height: 65px;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 63px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    background-color: #fed136;
    border-radius: 3px;
    border: none;
}

.main-footer{
    /*display: flex;
    justify-content: flex-start;*/
    text-align: center;
    position: relative;
    padding: 20px 0;
}

.copyright{
    position: absolute;
    left: 0;
    /*top: 30px;*/

    /*border: 1px solid red;*/
}

.footer-social-list{
    margin: 0;
    padding: 0;
    /*margin-left: 40px;*/
    list-style: none;
}

.footer-social-item{
    display: inline-block;
    margin: 0;
}